<title>Pluses and Minuses</title>
</head>

<body>
  
  <!-- Your HTML here -->
  <button id = "plus">+</button> 
  
  <button id = "minus">-</button>

  
  <span>Counter:<span id="count"></span> </span><br>
  <hr>
  <script src="plusesAndMinuses.js"></script>
</body>
</html>